.remove-btn {
    width: 2.5rem !important;
    height: 2.5rem !important;
    padding: 0;
}

.invalid-input {
    border: 2px solid red;
    color: red;
}

.invalid-input::placeholder,
.invalid-input::-moz-placeholder,
.invalid-input::-webkit-input-placeholder {
    color: red !important;
    font-weight: 600;
}
